body{
	width:260px;
	margin:0;
	background-color: #000;
}

table{
	width:100%;
}

tbody{
	width:100%;
}

main {
	margin: 8px;
}

p{
	font-size: 14px;
}

span{
	font-size: 14px;
}


.logo{
	width: 100%;
}

.text-white{
	color: #fff;
}

.ml-4{
	margin-left: 4px;
}

.mt-6{
	margin-top: 8px;
}

input{
	background: #2d2a22;
	color: #BFA978 !important;
	font-size: 16px;
	padding: 4px 8px;
	border: solid 1px #BFA978;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#startBtn{
	width: 100%;
	letter-spacing: 1px;
	display: block;
	text-align: center;
	background: #2d2a22;
	color: #BFA978 !important;
	font-size: 14px;
	padding: 10px;
	border: solid 1px #BFA978;
	font-weight: bold;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
