body{
	width:300px;
	background-color: #000;
	margin: 8px;
}

p{
	color: white;
	font-size: 14px;
}

.logo{
	width: 50%;
}

.mt{
	margin-top: 4px;
}

#start-button{
	width: 100%;
	letter-spacing: 1px;
	display: block;
	text-align: center;
	background: #2d2a22;
	color: #BFA978 !important;
	font-size: 14px;
	padding: 10px;
	border: solid 1px #BFA978;
	font-weight: bold;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
